#bodymain 
{
    -fx-background-image:url("../../../images/bg.png");
	-fx-background-size: 100% 100%; 
}

#h1 {
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 36px;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#glass-grey {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
	-fx-font-family: "Century Gothic";
	-fx-font-size: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}