#bodymain 
{
    -fx-background-image:url("../../../images/bg.png");
	-fx-background-size: 100% 100%; 
}

#bodycalc {
	-fx-background-image:url("../../../images/bg50.png");
	-fx-background-size: 100% 100%; 
}

#h1 {
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#btnfact{
	-fx-background-image:url("../../../images/btnfact.png");
	-fx-background-radius: 10px;
	-fx-background-insets: 5,5,5,5;
}

#btnfact:hover{
	-fx-background-image:url("../../../images/btnfact_hov.png");
}

#btncalculate {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 15px;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
	-fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}

#btnclear {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-radius: 15px;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #636363;
	-fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}

#cbox_conv {
	-fx-font-family: "Century Gothic";
	-fx-font-size: 16px;
}

#cbox_conv2 {
	-fx-font-family: "Century Gothic";
	-fx-font-size: 12px;
}

#snake: hover{
	-fx-background-image:url("../../../images/snake_hov.png");
}